@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_loginLayout";
}

<div style="background:white; padding:100px; margin:100px">
    <h1>@ViewData["Title"]</h1>

    <p>
        Please check your email to reset your password.
    </p>
</div>

